<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	.tdr{
		align-content: right 
	}	
	.tdl{
		align-content: left
	}	
	.tdc{
		align-content: center
	}
	.tdbold{
		font-weight: bold;
		text-align: center; 
	}	
	.tdbold_left{
		font-weight: bold;
		text-align: left; 
	}		
	</style>
	<title>Dropbox - Sendspace Synchroniser</title>

</head>
<body bgcolor="#4488BB" style="margin-top: 100px">
<form name="form1" id="form1" method="post">
<input type="hidden" name="op" id="op" value="">
	
	<table align="center" width="50%" border="0">

	<tr>
		<td class="tdbold">Log-in to Dropbox</td>
		<td class="tdbold">Log-in to Sendspace</td>
	</tr>
	<tr>
		<td align="center">
			<input type="button" name="dbBtn" value="Dropbox Log-in" onclick="window.location='/start-dbox'">&nbsp;
			<input type="button" name="dbBtn2" value="Dropbox Log-out" onclick="window.location='/logout-dbox'">
		</td>
		<td align="center">
			<table border="0" cellpadding="3" cellspacing="5">
			<tr>
				<td class="tdr">Sendspace Username</td>
				<td class="tdl"><input type="input" name="ssuser" id="ssuser" value=""></td>
			</tr>
			<tr>
				<td class="tdr">Sendspace Password</td>
				<td class="tdl"><input type="password" name="sspass" id="sspass" value=""></td>
			</tr>
			<tr>
				<td align="center" colspan="2">
					<input type="button" name="sslogin" value="Sendspace Log-in" onclick="document.form1.action='/start-sendspace';document.form1.submit()">
					<input type="button" name="sslogout" value="Sendspace Log-out" onclick="document.form1.action='/logout-sendspace';document.form1.submit()">
				</td>
			</tr>
			</table>			
		</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td class="tdbold_left" colspan="2">Status</td></tr>
	<tr><td class="tdc" colspan="2"></td></tr>	
	<tr>
		<td colspan="2" class="tdbold_left">
			{% for m in get_flashed_messages() %}
				* {{m}}<br>
			{% endfor %}
		</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td colspan="2" align="center"><input type="button" value="Start File Synch" onclick="document.form1.action='/start_synch';document.form1.submit()"></td></tr>
	<tr><td colspan="2">&nbsp;</td></tr>

	</table>
</form>	
</body>
</html>